.task-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 50%;
    gap: 5px;
    border: 1px solid white ;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.232);
    color: white;
}