.modal-background {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.413);
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    color: white;
    background-color: rgb(43, 43, 43);
    padding: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modal>form {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 35vw;
}


.modal>form>.input-container{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.modal>form>.input-container>input {
    width: 60%;
}

.modal>form>.input-container>textarea {
    height: 180px;
    width: 80%;
}

@media (max-width:750px) {

   .modal>form>.input-container>textarea {
    height: 100px;
    width: 200px;

    }
    .modal>form {
        display: flex;
        gap: 20px;
        flex-direction: column;
        width: 45vw;
    }

}



.controls-form {
    display: flex;
    justify-content: space-around;
}

.controls-form>button{
    padding: 10px 30px;
    position: relative;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.122);    
    border-radius: 10px;
    text-decoration: none;
    background-color: #1E6F9F;
    color: white;
}

.btn-task {
    display: flex;
    cursor: pointer;
    align-items: center;
    border: none;
    background: #1E6F9F;
    color: white;
    padding: 12px 23px;
    border-radius: 8px;
    margin: 5px;
    text-decoration: none;
}

.btn-task>.icon-task{
    font-size: 28px;
    margin-left: 15px;
}