@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.search-container {
    display: flex;
    height: 100vh;
    
    align-items: center;
    flex-direction: column;
}

.search-task {
    width: 300px;
    height: 25px;
    border-radius: 10px;
    border-style: none;
}

.title {
    display: flex;
    justify-content: center;
    height: 10%;
    width: 100%;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    background-color: #0D0D0D;
    padding: 10px;
    border-radius: 10px;
    color: #4EA8DE;
    margin: 0;
}
